{% extends 'base.html' %}
{% block title%}Blog | Welcome{% endblock title %}


{% block content %}
<section class="sp">
  <div class="container">
    <div class="blog-tags">
    
    {% comment %} <p class="tag">
      <a style="color: white;" href="">My First Wonderful Blog</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">Life is a mystery, no matter who you are and what you are!</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">Believe me or not, I built my first Django app.</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">Let's fight against food waste, wasting food is not good anymore</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">Loving calories and also losing weight at the same time</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">Walk with a friend, over a beach and a sand</a>
    </p>
    
    <p class="tag">
      <a style="color: white;" href="">My new office setup at a remote beach</a>
    </p> {% endcomment %}
    
  </div>
  </div>
</section>
{% endblock content %}