{% extends 'base.html' %}
{% block title%}Blog | Welcome{% endblock title %}


{% block content %}
<div class="inputs">
      <div>
        <h4>Post Title</h4>
        {{form.title}}
        </div>
      </div>
<div class="inputs">
  <div>
    <h4>Post Content</h4>
    {{form.content}}
    </div>
  </div>
<div class="inputs">
  <div>
    <h4>Post Image</h4>
    {{form.image}}
    </div>
  </div>  
<div class="inputs">
  <div>
    <h4>Post Image</h4>
    {{form.tags}}
    </div>
</div>
<div class="inputs">
  <div>
    <h4>Post Image</h4>
    {{form.author}}
    </div>
</div>

{% endblock content %}