{% extends 'base.html' %}
{% block title%}Blog | Welcome{% endblock title %}


{% block content %}  
  <div class="container">
    <div class="page-top">
      <div class="top flex">
        <div class="page-name">
          <a onclick="history.back()" class="learn">
            <span class="material-icons"> keyboard_return </span> Go back
          </a>
          <h1>About</h1>
        </div>
      </div>
    </div>
  </div>
<div class="inputs">
      <div>
        {{form.title}}
        </div>
      </div>
<div class="inputs">
  <div>
    {{form.content}}
    </div>
  </div>
<div class="inputs">
  <div>
    {{form.image}}
    </div>
  </div>  
<div class="inputs">
  <select>
  {% for tag in form.tags %}
  <option value="{{ tag.id }}">{{ tag }}:</option>
  {% endfor%}
  </select>
    </div>
</div>

{% endblock content %}