{% extends 'base.html' %}
{% block title%}Blog | {{post.title}}{% endblock title %}
{% load static %}

{% block content %}
  <div class="container">
      <div class="page-top">
        <div class="top flex">
          <div class="page-name">
            <a onclick="history.back()" class="learn">
              <span class="material-icons"> keyboard_return </span> Go back
            </a>
            <h1>Create Post</h1>
          </div>
        </div>
      </div>
    </div>
  <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="inputs" action="submit">
      <div class="create-form">
        {{form.title}}
        </div>
        <div class="create-form">
        {{form.content}}
        </div>
        <div class="create-form">
        {{form.image}}
      </div>
      <div class="create-form">
        <select class="tags">
          {% for tag in form.tags %}
            <option value="{{ tag.id }}">{{ tag }}:</option>
          {% endfor%}
        </select>
      </div>
      <button class="btn btn-primary rounded" type="submit">Create Post</button>
    </form>
{% endblock content %}      

